body {
  background-color: black;
  color: green;
  font-family: 'Courier New', Courier, monospace;
}

.main-container {
  max-width: 60rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-color: rgba(64, 224, 125, .3);
  border-style: dashed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  color: rgb(64, 224, 125);
}

.header-image pre {
  font-size: 2.2px;
  line-height: 2.2px;
  letter-spacing: unset;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  color: rgb(64 224 125/var(--tw-text-opacity));
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  aspect-ratio: 1/1;
  max-width: 100%;
  overflow: clip;
  border-style: dashed;
  border-color: rgba(64,224,125,.3);
  opacity: .5;
  height: 11rem;
  width: 11rem;
}

.header-line {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: rgb(64, 224, 125);
  overflow: hidden;
  margin-top: 10px;
}

.running-text {
  position: absolute;
  white-space: nowrap;
  color: black;
  font-size: 12px;
  font-weight: bold;
  animation: run-text 20s linear infinite;
  font-family: __font_b25959, __font_Fallback_b25959, sans-serif;
}

@keyframes run-text {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}