body {
  background-color: black;
  color: rgb(64, 224, 125);
  font-family: monospace;
}

.main-container {
  max-width: 60rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-color: rgba(64, 224, 125, .3);
  border-style: dashed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.header-image {
  display: flex;
  align-items: center;
  height: 11rem; /* Fixed height to match ASCII art */
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  color: rgb(64, 224, 125);
  height: 100%; /* Fill the available height */
}

.header-title {
  margin-bottom: auto;
}

.header-subtitle {
  margin-top: auto;
  margin-bottom: auto;
}

.header-footer {
  margin-top: auto;
  font-size: 0.6rem; /* Smaller text */
  opacity: 0.5; /* Some opacity */
}

.marutech-link {
  color: rgb(64, 224, 208); /* Light turquoise color */
  text-decoration: underline; /* Underline the link */
}

.marutech-link:hover {
  color: rgb(35, 158, 148); /* Darker turquoise on hover */
  text-decoration: none; /* Remove underline on hover */
}

.header-image pre {
  font-size: 2.2px;
  line-height: 2.2px;
  letter-spacing: unset;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  color: rgb(64 224 125/var(--tw-text-opacity));
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  aspect-ratio: 1/1;
  max-width: 100%;
  overflow: clip;
  border-style: dashed;
  border-color: rgba(64,224,125,.3);
  opacity: .5;
  height: 11rem; /* Match the height of the header-image */
  width: 11rem;
}

.header-line {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: rgb(64, 224, 125);
  overflow: hidden;
  margin-top: 10px;
  opacity: 0.6;
}

.running-text {
  position: absolute;
  white-space: nowrap;
  color: black;
  font-size: 12px;
  animation: run-text 20s linear infinite;
}

@keyframes run-text {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.tabs {
  display: flex;
  justify-content: space-around; /* Spread out the tabs evenly */
  gap: 1rem;
  width: 100%; /* Make sure the tabs take up the full width */
}

.tabs button {
  background-color: black;
  color: rgb(64, 224, 125);
  font-family: monospace;
  border: 1px dashed rgba(64, 224, 125, 0.3);
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
}

.tabs button.active {
  color: rgb(64, 224, 208); /* Light turquoise color */
  border-color: rgb(64, 224, 208);
}

.tabs button:hover {
  color: rgb(35, 158, 148); /* Darker turquoise on hover */
  border-color: rgb(35, 158, 148);
}

.tab-content {
  margin-top: 1rem;
  color: rgb(64, 224, 125);
  font-family: monospace;
  max-width: 60rem;
  width: 90%;
  height: 20rem; /* Set a fixed height */
  overflow: auto; /* Make content scrollable if it overflows */
}

/* .aboutme-container {
  color: rgb(64, 224, 125);
  font-family: monospace;
  max-width: 60rem;
  width: 90%;
  margin: 0 auto;
} */

.dropdown {
  margin-top: 1rem;
}

.dropdown button {
  background-color: black;
  color: rgb(64, 224, 125);
  font-family: monospace;
  border: 1px dashed rgba(64, 224, 125, 0.3);
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: left;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.dropdown li {
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.topic {
  flex: 1; /* Take up remaining space */
}

.years {
  text-align: center; /* Align years to the center */
  min-width: 6rem; /* Ensure enough space for the years */
}

.experience-bar {
  background-color: rgba(64, 224, 125, 0.2);
  border: 1px dashed rgba(64, 224, 125, 0.3);
  width: 60%;
  height: 1rem;
  margin-left: 1rem;
}

.experience-bar-fill {
  background-color: rgb(64, 224, 125);
  height: 100%;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle-icon {
  flex: 0;
  margin-right: 10px;
}

.position {
  flex: 1;
  text-align: left;
}

.company {
  flex: 1;
  text-align: center;
}

.date {
  flex: 1;
  text-align: right;
}

.accomplishment {
  color: rgb(224, 187, 64);
  opacity: 1.0;
  font-size: 11px;
}

.method {
  color: rgb(64, 224, 197);
  opacity: 1.0;
  font-size: 11px;
}

.tool {
  color: rgb(144, 224, 64);
  opacity: 1.0;
  font-size: 11px;
}